.chatroom {
  display: flex;
  padding: 1rem;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.chatroom:hover {
  background-color: white;
}
.selected {
  border-left: 10px solid rgb(97, 100, 166);
}
.chatroom > .chat_info {
  margin-left: 1rem;
}
